body {
  background: #41664f !important;
}

.parallax {
  background: url("img/sequoia-main.jpg") no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  text-shadow: 2px 2px #000000;
}

.infoPack {
  max-width: 100%;
  height: 500px;
  background-color: #9c9c9c;
  margin-top: 70px;
}

img {
  max-width: 100%;
}

p {
  padding-left: 15px;
  padding-top: 15px;
  padding-right: 15px;
}

h2 {
  padding-left: 15px;
  padding-top: 15px;
}
